# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.vscode/
.idea/

# Environment variables
.env

# Virtual Environment
venv/
env/

# Node dependencies
/node_modules
test_node_env/node_modules

# Emacs
*~

# System Files
.DS_Store
Thumbs.db
*.icloud

# Build artifacts
sicpjs.zip
test_node_env/expect.txt
test_node_env/result.txt

# Local Netlify folder
.netlify
